/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
    font-size: 16px;
    background-color: #696969;
	line-height: 1.6;
    font-family: Verdana, Geneva, sans-serif;
    color: #ffffff;
}
ol, ul{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
The following part has been added by myself 
*/

/*########################################*
 *					MAPS				  *
 *########################################*/
header{
	background-color: #2F4F4F;
	height: 50px;
}
header > a{
	position: absolute;
	width: 50px;
	height: 50px;
	background: url(../images/home.png) no-repeat;
	background-size: 50px;
}
header > h1{
	font-size: 30px;
	font-size: 35px;
	font-weight: bold;	
	text-align: center;
}


body[id="map"] main{
	position: relative;
  	width: 94.7vh;
    margin: 0 auto;
    max-width: 100vw;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: contain;
}
body[id="map"] main:after{
	content: "";
  	display: block;
  	padding-bottom: 100%;
}


aside[id="left"]{
	position: relative;
	width: 25vh;
	float: left;
	
}
aside#left.ct{
	background-color: #09188a;
}
aside#left.t{
	background-color: rgb(128, 0, 43);
}
aside[id="right"]{
	position: relative;
	width: 25vh;
	float: right;	
	background-color: grey;
}

aside>h2{
	text-align: center;
	font-size: 25px;
	border-bottom: solid 3px #000;
}
aside>p{
	height: 30px;
	text-align: center;
	border-bottom: solid 1px #000000;
}
aside>p:hover{
	cursor: pointer;
}



/*########################################*
 *					NUKE				  *
 *########################################*/
#map.nuke main{
 	background-image: url("../images/de_nuke_radar.png");
}

/*########################################*
 *					MIRAGE				  *
 *########################################*/
#map.mirage main{
 	background-image: url("../images/de_mirage_radar.png");
}

/*########################################*
 *					INFERNO				  *
 *########################################*/
#map.inferno main{
	background-image: url("../images/de_inferno_radar.png");
}

/*########################################*
 *					DUST2				  *
 *########################################*/
#map.dust2 main{
	background-image: url("../images/de_dust2_radar.png");
}

/*########################################*
 *					CACHE				  *
 *########################################*/
#map.cache main{
	background-image: url("../images/de_cache_radar.png");
}

/*########################################*
 *					OVERPASS			  *
 *########################################*/
#map.overpass main{
	background-image: url("../images/de_overpass_radar.png");
}

/*########################################*
 *					TRAIN    			  *
 *########################################*/
#map.train main{
	background-image: url("../images/de_train_radar.jpg");
}

/*########################################*
 *					VERTIGO    			  *
 *########################################*/
#map.vertigo main{
	background-image: url("../images/de_vertigo_radar.png");
}

/* Style the buttons that are used to open the tab content */
main button{
	position: absolute;	
	width: 50%;
	height: 100%;
	outline: none;
	transition: 0.3s;
    opacity: 0.4;	
}
main button[id="ct"]{
	right: 0px;
	background: url(../images/m4_recall.gif) no-repeat;
    background-size: cover;
}
main button[id="ct"]:hover{
	opacity: 1;
}
main button[id="ct"] > p{
	visibility:hidden;
}
main button[id="ct"]:hover > p{
	visibility: visible;
}

main button[id="t"]{
    left: 0px;  
    background: url(../images/ak_recall.gif) no-repeat;
    background-size: cover;
}
main button[id="t"]:hover{
	opacity: 1;
}
main button[id="t"] > p{
	visibility: hidden;
}
main button[id="t"]:hover > p{
	visibility: visible;
}

main button p {
	color: #fff;
	font-size: 40px;
}

aside#left{
	position: absolute;
	left: 0px;
}
