/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
    font-size: 16px;
    background-color: rgb(105, 105, 105);
	line-height: 1.6;
    font-family: Verdana, Geneva, sans-serif;
    color: white;
}
ol, ul{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
The following part has been added by myself 
*/

/*########################################*
 *					MAPS				  *
 *########################################*/
header{
	background-color: rgb(47, 79, 79);
	height: 50px;
}
header > a{
	position: absolute;
	width: 50px;
	height: 50px;
	background: url(../images/home.png) no-repeat;
	background-size: 50px;
}
header > h1{
	font-size: 30px;
	font-size: 35px;
	font-weight: bold;	
	text-align: center;
}
header > input{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50px;
	height: 50px;
	z-index: 1;
	opacity: 0;
}
header > input:hover{
	cursor: pointer;
}
header > div.overlap-upload{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50px;
	height: 50px;
	z-index: 0;
	background: url(../images/add-file.png) no-repeat;
	background-size: 50px;
}


body#map main{
	position: relative;
  	width: 94.7vh;
    margin: 0 auto;
    max-width: 100vw;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: contain;
}
body#map main:after{
	content: "";
  	display: block;
  	padding-bottom: 100%;
}


aside{
	position: absolute;
	width: calc((100% - 94.7vh)/2);
	top: 50px;
}
aside#left{
	float: left;
}
aside#left.ct{
	background-color: rgb(9, 24, 138);
}
aside#left.t{
	background-color: rgb(128, 0, 43);
}
aside#right{
	float: right;
	right: 0px;
}

@media only screen and (max-width: 1450px){
	aside{
		position: relative;
		width: calc(94.7vh/2);
		max-width:calc(100%/2);
		top: 0px;
		opacity: 0.4;
	}
	aside#left{
		float: left;
		left: calc((100% - 94.7vh)/2);
	}
	aside#right{
		float: right;
		right: calc((100% - 94.7vh)/2);
		background-color: grey;
	}
}

@media only screen and (max-width: 938px){
	aside#left{
		left:0;
	}
	aside#right{
		right:0;
	}
}

aside>h2{
	text-align: center;
	font-size: 35px;
	border-bottom: solid 3px black;
}
aside>p{
	height: 35px;
	font-size: 20px;
	text-align: center;
	border-bottom: solid 1px black;
}
aside>p:hover{
	cursor: pointer;
}



/*########################################*
 *					NUKE				  *
 *########################################*/
#map.nuke main{
 	background-image: url("../images/de_nuke_radar.png");
}

/*########################################*
 *					MIRAGE				  *
 *########################################*/
#map.mirage main{
 	background-image: url("../images/de_mirage_radar.png");
}

/*########################################*
 *					INFERNO				  *
 *########################################*/
#map.inferno main{
	background-image: url("../images/de_inferno_radar.png");
}

/*########################################*
 *					DUST2				  *
 *########################################*/
#map.dust2 main{
	background-image: url("../images/de_dust2_radar.png");
}

/*########################################*
 *					CACHE				  *
 *########################################*/
#map.cache main{
	background-image: url("../images/de_cache_radar.png");
}

/*########################################*
 *					OVERPASS			  *
 *########################################*/
#map.overpass main{
	background-image: url("../images/de_overpass_radar.png");
}

/*########################################*
 *					TRAIN    			  *
 *########################################*/
#map.train main{
	background-image: url("../images/de_train_radar.jpg");
}

/*########################################*
 *					VERTIGO    			  *
 *########################################*/
#map.vertigo main{
	background-image: url("../images/de_vertigo_radar.png");
}

/* Style the buttons that are used to open the tab content */

main button{
	position: absolute;	
	width: 50%;
	height: 100%;
	outline: none;
	transition: 0.3s;
    opacity: 0.4;	
}
main button#ct{
	right: 0px;
	background: url(../images/m4_recall.gif) no-repeat;
    background-size: cover;
}
main button#ct:hover{
	opacity: 1;
}
main button#ct > p{
	visibility:hidden;
}
main button#ct:hover > p{
	visibility: visible;
}

main button#t{
    left: 0px;  
    background: url(../images/ak_recall.gif) no-repeat;
    background-size: cover;
}
main button#t:hover{
	opacity: 1;
}
main button#t > p{
	visibility: hidden;
}
main button#t:hover > p{
	visibility: visible;
}

main button p {
	color: white;
	font-size: 40px;
}
